// Flowtype resets

body
 font-size 18px
 line-height 26px

h1 h2 h3 h4 h5 h6 p
 font-family inherit
 font-size inherit

h1
 font-size 4em
 line-height 1em

h2
 font-size 3em
 line-height 1em


 // General styles

body
	width 100%
	background orange
	color #333
