doctype 5
html(lang='en')
	head
		title Portfolio

		<!-- build:css(app) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css styles/main.css -->
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		<!-- endbuild -->
	body
		h1 This is my amaaaazing Portfolio!
		p It's pretty fucking great, in my not-so-humble opinion.

		<!-- build:js(app) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js scripts/main.js -->
		script(src='scripts/main.js')
		<!-- endbuild -->
